/* Grid */

.main-grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'header header'
    'main main'
    'footer footer';
}

.header-section {
  grid-area: header;
}

.main-content {
  grid-area: main;
}

.footer-container {
  grid-area: footer;
}
