@import '/css/animations.css';
@import '/css/images.css';
@import '/css/text.css';

:root {
  --light-orange: #ffa270;
  --medium-orange: #ff7043;
  --dark-orange: #c63f17;
  --btn-text-color: #e5e9e9;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  background-color: var(--light-orange);
  line-height: 1.5em;
}

/* Blog Post Cards */

.card-container {
  display: grid;
  max-width: 1920px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  background-color: var(--medium-orange);
  margin: 10px 25px 10px 25px;
  padding: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border: 1px solid black;
  border-radius: 10px;
}

.card-img {
  width: 100%;
  display: block;
  align-self: center;
  border-radius: 10px;
}

.card-content {
  font-size: 0.9em;
  padding: 15px;
  margin: 0;
}

.container-btn {
  display: flex;
  justify-content: center;
}

.card-btn {
  background-color: var(--dark-orange);
  margin: 5px 0 10px 0;
  border-radius: 5px;
  height: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-btn > a {
  color: var(--btn-text-color);
  text-decoration: none;
}

/* Navigation */

.nav-container {
  width: 100%;
  background-color: var(--dark-orange);
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  list-style-type: none;
}

.nav-menu {
  display: flex;
  padding: 0;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  padding: 0;
}

.nav-menu > li {
  padding: 0.5rem;
  list-style: none;
}

.nav-menu > li > a {
  text-decoration: none;
  color: var(--light-orange);
}

/* Footer */

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  margin: 20px 0 0 0;
  background-color: var(--dark-orange);
}

.footer-links {
  margin-left: 5px;
  padding: 10px;
  font-size: 0.8rem;
  color: var(--light-orange);
  text-decoration: none;
}

.social-icons {
  width: 25px;
  height: 25px;
}

.social-icons:hover {
  width: 40px;
  height: 40px;
  transition: linear;
}

@media (min-width: 720px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .footer-container > a:first-of-type {
    margin: 0 0 0 20px;
  }

  .quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1100px) {
  .card-container {
    margin: auto;
  }
}

/* Blogpost Page CSS */

h3 {
  color: #6d470f;
  line-height: 1.5em;
  text-align: center;
}

.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin: 10px 25px 10px 25px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: var(--medium-orange);
}

figure > img {
  max-width: 100%;
  border-radius: 10px;
  margin: 16px 0 16px 0;
}

figcaption {
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

.home-quote {
  padding: 5px;
  text-align: center;
  font-style: italic;
}

/* text */

.heading-one {
  margin: 25px auto;
  text-align: center;
  width: 80%;
  padding: 10px;
  background-color: var(--dark-orange);
  border-radius: 10px;
  color: var(--light-orange);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.heading-two {
  display: flex;
  justify-content: center;
  margin: 50px auto 25px auto;
  text-align: center;
  text-decoration: underline;
  padding: 10px;
  background-color: var(--dark-orange);
  border-radius: 10px;
  color: var(--light-orange);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  width: -moz-fit-content;
  width: fit-content;
}

/* Blog Post Page Grid */

.blogcontent-wrapper {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 40px 200px 40px;
}

/* .author-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 310px;
  border: 2px solid black;
} */
