@import './text.css';
@import './main-grid.css';
@import './breakpoints.css';

:root {
  --light-orange: #ffa270;
  --medium-orange: #ff7043;
  --dark-orange: #c63f17;
  --btn-text-color: #e5e9e9;
}

body {
  margin: 0;
  background-color: var(--light-orange);
  font-family: 'Roboto', sans-serif;
}

/* Navigation */

.nav-container {
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  list-style-type: none;
  background-color: var(--dark-orange);
}

.nav-menu {
  display: flex;
  padding: 0;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding: 0;
}

.nav-menu > li {
  padding: 0.5rem;
  list-style: none;
}

.nav-links {
  font-size: 2rem;
  text-decoration: none;
  color: var(--light-orange);
  text-shadow: -0.1em 0.1em #000;
}

.current {
  color: black;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
  text-shadow: none;
}

/* Blog Cards */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--medium-orange);
  margin: 25px;
  padding: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border: 1px solid black;
  border-radius: 10px;
}

.card-img {
  max-width: 100%;
  border-radius: 10px;
  margin: 16px 0 16px 0;
}

.card-content {
  font-size: 0.9em;
  padding: 15px;
  margin: 0;
}

.container-btn {
  display: flex;
  justify-content: center;
}

.card-btn {
  background-color: var(--dark-orange);
  margin: 5px 0 10px 0;
  border-radius: 5px;
  height: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
}

.card-btn > a {
  color: var(--btn-text-color);
  text-decoration: none;
}

/* Quote Section */

.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  margin: 10px 25px 10px 25px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: var(--medium-orange);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.quote-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.figure-img {
  max-width: 100%;
  border-radius: 10px;
  margin: 16px 0 16px 0;
}

figcaption {
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

.home-quote {
  padding: 5px;
  text-align: center;
  font-style: italic;
}

/* Footer */

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px 0;
  background-color: var(--dark-orange);
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icons {
  width: 35px;
  margin: 10px;
  padding: 10px;
}

/* Tablet Size */

/* @media screen and (min-width: 576px) {
  .main-grid {
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
      'header header header header header header header header'
      'main main main main main main main main'
      'footer footer footer footer footer footer footer footer';
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .social-icons:hover {
    width: 50px;
    padding: 2px;
  }
}

@media screen and (min-width: 1200px) {
  .main-grid {
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      'header header header header header header header header header header header header'
      'main main main main main main main main main main main main'
      'footer footer footer footer footer footer footer footer footer footer footer footer';
  }

  .card-container {
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    grid-gap: 20px;
  }
} */

/* Blog Post Page Styles */

.blogpost-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.author-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.avatar {
  width: 50%;
  border-radius: 50%;
}

.blogpost-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9em;
  padding: 15px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.blogpost-content:nth-child(even) {
  background-color: var(--medium-orange);
}

/* @media screen and (min-width: 576px) {
  .main-grid {
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
      'header header header header header header header header'
      'main main main main main main main main'
      'footer footer footer footer footer footer footer footer';
  }

  .blog-page-content {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: 'aut aut aut blog blog blog blog blog';
  }
  .author-info {
    grid-area: aut;
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .blogpost-container {
    grid-area: blog;
  }
} */

/* Blog Page Responsive */

/* @media screen and (min-width: 1200px) {
  .blog-page-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 'aut aut aut blog blog blog blog blog blog blog blog blog';
  }
  .author-info {
    grid-area: aut;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .blogpost-container {
    grid-area: blog;
  }
} */
