/* Text Styles*/

.heading-one {
  font-size: 2.5rem;
  text-shadow: -0.1em 0.1em #000;
  line-height: 3rem;
  margin: 25px auto;
  text-align: center;
  width: 80%;
  padding: 10px;
  background-color: var(--dark-orange);
  border-radius: 10px;
  color: var(--light-orange);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.heading-two {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  margin: 25px;
  grid-column: 1/-1;
}

.heading-blog-preview {
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
  text-decoration: underline;
}

.blog-card-text {
  font-size: 20px;
}

.author-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0;
}

.author-text {
  font-size: 1.1rem;
  margin: 10px;
}

.blogpost-header {
  font-size: 1.5rem;
}

.blog-text {
  font-size: 20px;
}
